* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.centeredContent {
    margin: 0 auto;
  }

.leftedContent {
  margin: 0;
}

.thinnedContent {
  width: 95%;
  max-width: 700px;
}

.centeredText {
  text-align: center;
}

.zIndex10 {
  z-index: 10;
}

.zIndex20 {
  z-index: 20;
}

.noLeftMargin {
  margin-left: 0;
}

.dividerBox {
  border: 1px solid #ddd;
}

.statsBox {
  /*min-width: 320px;*/
  /*max-width: 500px;*/
}

md-sidenav {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
  }

.box-shadow-menu {
  position: fixed;
  padding-left: 1.25em;
  margin: 1em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0em;
  top: 0.8em;
  width: 1.75em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.4em 0 0 black,
    0 0.8em 0 0 black;
}

.smallButton {
  font-size: 11px;
}

.navBarTitle {
  width: 70%;
  max-width: 200px;
  padding: 0 8px;
}

.navBarThin {
  max-width: 50px;
  float: left;
  position: relative;
}

.navBarButton {
  text-align: left;
}

.form-control {
  width: 70%;
  margin: 10px auto;
}

.form {
  height: 70%;
}

.form-control {
  width: 80%;
}

.inputBox {
  padding: 5px;
  width: 100%;
}

.timeTrackerContainer {
  min-width: 80%;
  width: 90%;
  max-width: 95%;
}

.box-shadow-menu:not([disabled]):hover{
  background-color: transparent;
}

.box-shadow-menu:not([disabled]):focus {
  background-color: transparent;
}

.exerciseButton:focus {
  background-color: rgba(63, 81, 181, 0.6);
}

.text-danger {
  color: red;
  
}

@media (min-width: 600px) and (max-width: 959px) {
  .statsBox {
    min-width: 200px;
    max-width: 500px;
  }

  .smallButton {
    font-size: 13px;
  }

}

@media (min-width: 960px) {
  .centeredContent {
    margin: 0 auto;
  }

  .thinnedContent {
    min-width: 450px;
    width: 45%;
    max-width: 650px;
  }

  .statsBox {
    min-width: 320px;
    max-width: 500px;
  }

  md-sidenav.md-locked-open {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
  }

  md-sidenav.md-locked-open, md-sidenav.md-locked-open-remove.md-closed, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed.md-sidenav-right {
    position: fixed;
  }

  .form-control {
    width: 100%;
  }

  .timeTrackerContainer {
    /*min-width: 55%;*/
    width: 55%;
    /*max-width: 85%;*/
  }

  .smallButton {
    font-size: 13px;
  }


}












