<!DOCTYPE html>
<html ng-app='exerciseTimeTracker'>
<head>
<title>Exercise Time Tracker</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
<link rel="stylesheet" type="text/css" href="app/shared/styles/main.css">
<meta name="viewport" content="initial-scale=1" />

</head>
<body>



	<div ng-controller='navCtrl' >

		<section layout="row" flex layout-fill>
			<div>
			<md-button ng-click="toggleLeft()" class="md-primary box-shadow-menu zIndex10" aria-label='hamburger' hide-gt-md>
	       	</md-button>
	    </div>
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout-fill>
				<md-toolbar class="md-theme-indigo" layout='row'>
	        		<h1 class="md-toolbar-tools navBarTitle md-title" flex>{{userProfile.name}}</h1>
	        		<md-button ng-click='close()' class='box-shadow-menu zIndex10' flex></md-button>
	      		</md-toolbar>
	      		<md-content class="md-padding">
					<md-list>
						<md-list-item><md-button class='navBarButton' ng-click="close()" href='/#/timeTracker'>Track Exercise Time</md-button></md-list-item>
						<md-list-item><md-button class='navBarButton' ng-click="close()" href='/#/dashboard'>Dashboard</md-button></md-list-item>
						<!-- <md-list-item><md-button href='/#/profile'>Profile</md-button></md-list-item> -->
						<md-list-item ng-hide='isAuthenticated'><md-button class='navBarButton' ng-click="close()" href='/#/authn'>Sign In/Register</md-button></md-list-item>
						<md-list-item ng-show='isAuthenticated'><md-button class='navBarButton' ng-click="logout()" href='/#/logout'>Sign Out</md-button></md-list-item>
						<!-- <md-list-item><md-button class='navBarButton' ng-click="close()" href='/#/terms'>Terms of Use</md-button></md-list-item>
						<md-list-item><md-button class='navBarButton' ng-click="close()" href='/#/help'>Help</md-button></md-list-item>
						<md-list-item><md-button class='navBarButton' ng-click="close()" href='/#/contact'>Contact</md-button></md-list-item>
						<md-list-item><md-button class='navBarButton' ng-click="close()" href='/#/about'>About</md-button></md-list-item> -->
					</md-list>
				</md-content>
			</md-sidenav>			
			
			

    	</section>
	</div> 
	<md-content>
		<ng-view></ng-view>
	</md-content>

	<!-- <ng-view></ng-view> -->


<!-- Angular -->
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>

<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

<!-- Application -->
<script type="text/javascript" src='app/app.js'></script>

<!-- Controllers -->
<script type="text/javascript" src='app/components/timeTracker/timeTrackerCtrl.js'></script>
<script type="text/javascript" src='app/components/authn/authnCtrl.js'></script>
<script type="text/javascript" src='app/components/dashboard/dashboardCtrl.js'></script>
<script type="text/javascript" src='app/shared/nav/navCtrl.js'></script>

<!-- Services -->
<script type="text/javascript" src='app/components/timeTracker/timeTrackerService.js'></script>
<script type="text/javascript" src='app/components/authn/authnService.js'></script>
<script type="text/javascript" src='app/components/dashboard/dashboardService.js'></script>

<!-- Angular Material -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

</body>
</html>