<md-toolbar class='md-display-3 centeredText'>Terms Of Use</md-toolbar>
<div class='centeredContent thinnedContent'>
	<p class="md-body-2 ">TL;DR</p>
	<p class="md-body-1 ">Bascially, this is my application. Don't sue me. Don't steal my code.</p>
	<p class="md-body-2 ">My Attempt at Official Wording</p>
	<p class="md-body-1 ">This application is intended to assist a person to track time spent exercising.</p>
	<p class="md-body-1 ">There is no guarantee or service-level agreement with regards to this application. This service may be taken down, removed from public use, or be temporarily offline without any notice. </p>
	<p class="md-body-1 ">This application is created, maintained, and owned by Matthew Ecklund, who maintains all rights associated with it. Application source code is not to be used without permission.</p>
	<p class="md-body-1 ">Use of this application constitutes agreement to the Terms of Use.</p>
</div>