<md-toolbar class='md-display-3 centeredText'>Stopwatch</md-toolbar>
<div class='centeredContent thinnedContent'>
	<div layout='row' layout-align='space-around center'>
		<md-button class='md-raised smallButton' ng-click='startWorkout()' ng-disabled='startWorkoutDisabled'>Begin Workout</md-button>
		<md-button class='md-raised smallButton' ng-click='stopWorkout(selectedCategory)' ng-disabled='stopWorkoutDisabled'>End Workout</md-button>
	</div>
	<br />
	<div layout='row' layout-align='space-between center' layout-wrap layout-fill>	
		<div ng-repeat='category in exercises'>	<!-- ng-disabled on buttons to disable the category selectors once start exercise has run-->
			<md-button class='md-raised smallButton' ng-click='selectCategory(category)' ng-disabled='selectCategoryDisabled'>{{category}}</md-button>	<!-- set ng-class when current is selected using a function - if selected -->
		</div>
	</div>
	<h1 class='md-display-3 centeredText'>{{stopwatchTime.hours}}:{{stopwatchTime.minutes}}:{{stopwatchTime.seconds}}</h1>
	<div layout='row' layout-align='space-around center'>
		<md-button class=' md-raised smallButton' ng-click='startExercise(selectedCategory)' ng-disabled='startExerciseDisabled'>Start</md-button>
		<md-button class=' md-raised smallButton' ng-click='stopExercise(selectedCategory)' ng-disabled='stopExerciseDisabled'>Stop</md-button>
	</div>
</div>