<md-toolbar class='md-display-3 centeredText'>Exercise Time Tracker</md-toolbar>
<div class='centeredContent thinnedContent'>
	<h1>Time Tracker</h1>
		<button class='button1' ng-click='startWorkout()' ng-disabled='startWorkoutDisabled'>Start Workout</button>
		<button class='button1' ng-click='stopWorkout(selectedCategory)' ng-disabled='stopWorkoutDisabled'>Stop Workout</button>
	<h2>Exercises</h2>
	<div ng-repeat='category in exercises'>	<!-- ng-disabled on buttons to disable the category selectors once start exercise has run-->
		<button class='button1' ng-click='selectCategory(category)' ng-disabled='selectCategoryDisabled'>{{category}}</button>	<!-- set ng-class when current is selected using a function - if selected -->
	</div>
	
	<h3>Start/Stop</h3>
		<button class='button1' ng-click='startExercise(selectedCategory)' ng-disabled='startExerciseDisabled'>Start Exercise</button>  
		<button class='button1' ng-click='stopExercise(selectedCategory)' ng-disabled='stopExerciseDisabled'>Stop Exercise</button>
</div>